{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_point_game' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="unlogin-block text-more">
                <div class="my-3">
                    2025, un astéroïde <span class="text-rouge">percute la Terre</span> de plein fouet en Asie créant un enchaînement de catastrophes naturelles. Après des semaines difficiles, le pire semble passé.<br><br>Mais soudain des morts commencent a se relever parmi les décombres et rien ne semble les arrêter.
                    La panique s'estompant, les armées de chaque pays commencent à faire reculer ces hordes de revenants. Mais les morts ne semblent pas se comporter <span class="text-rouge">'normalement'</span>.Ils semblent se mouvoir de façon coordonnée et certains scientifiques émettent
                    l'hypothèse d'un <span class="text-rouge">zombie Alpha</span> ayant le contrôle des hordes.<br><br>Mais nous n'en savons pas plus. Car parallèlement à la lutte contre ces hordes, les Dirigeants de plusieurs nations ont lancé des programmes spatiaux pour donner une nouvelle chance a la race humaine dans
                    d'autres galaxies. C'est ainsi que nous nous retrouvons aux confins de l'univers dans une Galaxie inconnue à rebâtir notre civilisation.<br><br>Trois régimes politiques ont survécu à l'exode : La Démocratie, le Communisme et le Fascisme. Sauront-ils vivre en harmonie dans cette nouvelle galaxie ou <span class="text-rouge">se battront-ils</span>
                    pour les meilleures planètes et ressources ? Le futur n'est pas écrit. Une chose en sûr, nous ne savons pas si la Terre tiens toujours mais il semblerait en tout cas que la <span class="text-rouge">menace Zombie</span> ne soit pas un désagréable souvenir... Comment nous ont-ils suivis ?!
                </div>
            </div>
        </div>
    </div>
{% endblock %}
