{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_point_game' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="unlogin-block text-more">
                <div class="my-3">
                    {{ 'desc'|trans|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
