{% extends 'base.html.twig' %}

{% trans_default_domain 'front_rules' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block top_menu -%}
        {% include 'menu/_top_menu.html.twig' %}
    {%- endblock -%}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="front-block">
            </div>
        </div>
    </div>
{% endblock %}
