{% extends 'base.html.twig' %}

{% trans_default_domain 'front_map' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="front-block">
            </div>
        </div>
    </div>
{% endblock %}
