$brand-primary: darken(#428bca, 20%);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'scss/front/leftMenu.scss';

body {
  color: black;
  background-image: url("../public/img/wall.png");
  background-repeat: repeat;
  background-size: contain;
  padding: 0 4rem 4rem 4rem;
}

.text-orange {
  color: #FC7F23;
}