$brand-primary: darken(#428bca, 20%);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'scss/front/leftMenu.scss';
@import 'scss/front/topMenu.scss';

body {
  color: #fff;
  background-image: url("../public/img/wall.png");
  background-size: cover;
  max-width: 100%;
  height: auto;
  padding: 0 4rem 4rem 4rem;
}

.text-orange {
  color: #FC7F23;
}

.front-block {
  margin-top: 10%;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: rgba(83,74,74,0.8);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.unlogin-block {
  margin-top: 2%;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 345px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: rgba(83,74,74,0.8);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.footer {
  position: fixed;
  padding: 0.8rem;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
  a {
    color: #fff;
  }
  a:hover {
    color: orange;
    text-decoration: none;
  }
}