$brand-primary: darken(#428bca, 20%);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'scss/front/leftMenu.scss';
@import 'scss/front/topMenu.scss';
@import 'scss/front/topRessource.scss';
@import 'scss/front/rightPlanet.scss';
@import 'scss/front/galaxy.scss';
@import 'scss/front/ally.scss';
@import 'scss/front/unconnected.scss';
@import 'scss/front/building.scss';
@import 'scss/front/research.scss';
@import 'scss/front/spatial.scss';
@import 'scss/front/message.scss';

body.area {
  margin: 0 auto;
  color: #fff;
  background-image: url("../public/img/wall.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1280px;
  height: auto;
  font-size: 1.1rem;
  padding: 0 4rem 4rem 4rem;
}

.table .table {
  background-color: #212529!important;
}

.text-more {
  font-size: 1.8rem;
}

.text-middle {
  font-size: 1.4rem;
}

.research .tab-cells-name {
  width: 500px;
}

.userPage {
  padding: 2rem;
  width: 250px;
  margin: auto!important;
  margin-top: 7rem!important;
  font-family: AppleGothic;
  font-size: 1.5rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.allyPage {
  padding: 2rem;
  width: 500px;
  margin: auto!important;
  margin-top: 7rem!important;
  font-family: AppleGothic;
  font-size: 1.5rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.navbar-right {
  position: sticky;
  top: 70px;
}

.navbar-left {
  position: sticky;
  top: 0;
}

.navbar-ressource {
  position: sticky!important;
  top: 0;
}

.modal-dialog {
  margin-top: 40%;
}

.close.plus {
  color: orange;
}

.close.plus:hover {
  color: red;
}

.modal-content.special {
  background-color: rgba(52,58,64,0.8);
  border-radius: 20px;
  border: 1px solid white;
}

.modal-content.special-opaque {
  background-color: rgba(52,58,64,1);
  border-radius: 20px;
  border: 1px solid white;
}

.text-orange {
  color: #FC7F23;
}

.text-jaune {
  color: yellow;
}

.text-rouge {
  color: #E50404;
}

.text-vert {
  color: darkgreen;
}

.front-block {
  margin: 7rem 6% 2% 21rem;
  color: #fff;
  max-width: 760px;
  word-wrap: break-word;
}

span a {
  color: orange;
}

.unlogin-block {
  margin-top: 2%;
  color: #fff;
  min-height: 345px;
  word-wrap: break-word;
  background-color: rgba(83,74,74,0.8);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  padding: 1.5rem;
}

.footer {
  position: fixed;
  padding: 0.8rem;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
  a {
    color: #fff;
  }
  a:hover {
    color: orange;
    text-decoration: none;
  }
}

input {
  color: black;
}

.tooltip-inner {
  font-size: 1.2rem;
}