{% extends 'base.html.twig' %}

{% trans_default_domain 'front_page_user' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
    </div>
{% endblock %}
