<div style="margin-top: 2rem;margin-left: 3rem;"><img src="{{ absolute_url(asset('img/logo.png')) }}"></div>

<h3>Bonjour {{ username }} l'équipe d'Area Universe vous annonce l'ouverture du nouveau serveur le mardi 12 décembre 2018.</h3>

<div>Vous pouvez dès à présent créer votre alliance ou rejoindre vos amis.</div>

<div>Pour jouer cliquez <a href="{{ url('home') }}">ici</a>.</div>

<div>Si vous avez oublié votre mot de passe <a href="{{ url('recoveryPw', {'user': id}) }}">cliquez ici</a> pour en obtenir un nouveau.</div>

<div>Area Universe.</div>