<div style="margin-top: 2rem;margin-left: 3rem;"><img alt="{{ 'image'|trans({},'front_global') }}" src="{{ absolute_url(asset('img/avatar.webp')) }}"></div>

<h3>Voici votre nouveau mot de passe : {{ password }}</h3>

<div>Pour jouer cliquez <a href="{{ url('home') }}">ici</a>.</div>

<div>Area Universe.</div>