<h3>Voici votre nouveau mot de passe : {{ password }}</h3>

<div>Pour vous connecter cliquez <a href="{{ url('login') }}">ICI</a>.</div>

<div>Merci!</div>

<div style="margin-top: 2rem;margin-left: 3rem;"><img src="{{ absolute_url(asset('img/avatar.png')) }}"></div>