<h3>Voici votre nouveau mot de passe : {{ password }}</h3>

<div>Pour vous connecter cliquez <a href="{{ url('login') }}">ICI</a>.</div>

<div>Merci!</div>

<div><img src="{{ absolute_url(asset('img/defaut.png')) }}"></div>