<h3>Merci pour votre inscription !</h3>

<div>Garder bien votre mot de passe : <strong>{{ password }}</strong></div>

<div>Connectez vous pour jouer en cliquant <a href="{{ url('login') }}">ICI</a>.</div>

<div>Merci pour votre inscription et amusez vous bien!</div>

<div style="margin-top: 2rem;margin-left: 3rem;"><img src="{{ absolute_url(asset('img/logo.png')) }}"></div>