<div style="margin-top: 2rem;margin-left: 3rem;"><img src="{{ absolute_url(asset('img/logo.png')) }}"></div>

<h3>Votre inscription sur Area Universe a bien été prise en compte.</h3>

<div>Votre mot de passe lors de l'inscription : <strong>{{ password }}</strong></div>

<div>Pour jouer cliquez <a href="{{ url('home') }}">ici</a>.</div>

<div>Area Universe.</div>