<h3>Merci pour votre inscription !</h3>

<div>Garder bien votre mot de passe : <strong>{{ password }}</strong></div>

<div>Confirmer votre email <a href="{{ url('confirmEmail') }}">ICI</a>.</div>

<div>Merci!</div>

<div><img src="{{ absolute_url(asset('img/logo.png')) }}"></div>