{% extends 'base.html.twig' %}

{% trans_default_domain 'front_dailyCost' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% set cost = (app.user.getAllSoldier() * 2) + app.user.getAllShipsCost() %}
    <div class="front-block building">
        <div class="block-title ml-4"><h2>{{ 'daily.title'|trans }}</h2></div>
        <div class="m-5 p-5 text-middle">
            {{ 'daily.help'|trans|raw }}
        </div>
    </div>
{% endblock %}
