{% extends 'base.html.twig' %}

{% trans_default_domain 'front_galaxy' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-11">
            <div class="front-block">
                <div class="row">
                    {% set x = 1 %}
                    {% for sector in sectors %}
                        {% if x == 11 %}
                            <div class="col-2"></div>
                            {% set x = 1 %}
                        {% endif %}
                        <a class="col-1 sector-block"  data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.sector'|trans({'%position%': sector.getPosition()}) }}" href="{{ path('map', {id: sector.getPosition()}) }}">
                            {% for planet in sector.getPlanets() %}
                                <span class="{% if planet.getUser() == app.user %}pp-ally{% endif %}">{% if planet.getEmpty() == true %}&nbsp;{% else %}.{% endif %}</span>
                            {% endfor %}
                        </a>
                        {% set x = x + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
