.btn-left {
  border-left: 1px solid #17a2b8;
  border-right: 1px solid #17a2b8;
  border-top: 1px solid #17a2b8;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  a {
    color: #fff;
  }
  :hover {
    color: #FC7F23;
    text-decoration: none;
  }
}

.freeSearchBuild {
  background-color: rgba(230, 138, 0, 0.5);
}

.planetFull {
  background-color: rgba(255, 0, 0, 0.5)!important;
}

.btn-left-bottom {
  color: #fff;
  border: 1px solid #17a2b8;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  a {
    color: #fff;
  }
  :hover {
    color: #FC7F23;
    text-decoration: none;
  }
}

.bg-left {
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px 0px 5px 5px;
}

.modify {
  cursor: pointer;
  color: #fff;
}

.popover {
  color: black;
  width: 500px;
}