@import 'scss/front/variables.scss';

.navbar-left {
  position: sticky;
  z-index: 1;
  top: 0;
  background-image: $back-basic;
  border-radius: 5px 0px 5px 5px;
}

.btn-left {
  border-left: 1px solid #17a2b8;
  border-right: 1px solid #17a2b8;
  border-top: 1px solid #17a2b8;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  a {
    color: #fff;
  }
  :hover {
    color: #FC7F23;
    text-decoration: none;
  }
}

.btn-left.separate {
  border: none;
  border-top: 1px solid #17a2b8;
}

.btn-left-bottom {
  color: #fff;
  border: 1px solid #17a2b8;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  a {
    color: #fff;
  }
  :hover {
    color: #FC7F23;
    text-decoration: none;
  }
}


.modify {
  cursor: pointer;
  color: #fff;
}

.popover {
  color: $color-black;
  width: 500px;
}