.navbar-right {
  position: sticky;
  z-index: 1;
  top: 70px;
}

.bg-right {
  color: white;
  background-image: $back-basic;
  border-radius: 5px;
  height: 55px;
  font-size: 0.9rem;
}

.bg-right-small {
  color: white;
  background-image: $back-basic;
  border-radius: 5px;
  height: 45px;
  width: 90px;
  font-size: 0.9rem;
}

.bg-right-empty {
  background-image: $back-basic;
  border-radius: 5px;
  height: 40px;
  font-size: 0.9rem;
}

.bg-right-empty-small {
  background-image: $back-basic;
  border-radius: 5px;
  height: 30px;
  width: 90px;
  font-size: 0.9rem;
}

.small-right-planet .col-6 {
  margin-right: -1rem;
}