.bg-right {
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
  height: 55px;
  font-size: 0.9rem;
}

.bg-right-empty {
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
  height: 30px;
  font-size: 0.9rem;
}

.constructFree {
  background-color: rgba(230, 138, 0, 0.3);
}