.navbar-ressource {
  background-image: $back-basic;
  margin-top: 1%;
  z-index: 2;
  border-radius: 0 5px 5px 0;
  position: sticky!important;
}

@media screen and (max-width: 1025px) {
  .navbar-ressource span {
    padding: -2px;
  }
}

@media screen and (max-width: 1025px) {
  .navbar-ressource {
    position: sticky!important;
    min-height: 30px;
    top: 0;
    font-size: 1rem;
  }
}

.ressource {
  color: #fff;
}

.planetChoice {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff !important;
  height: 20px;
  font-size: 1.2rem;
  background-image: $back-form;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid silver;
  border-radius: 5px;
  option {
    background: $color-black;
  }
}

.border-ressource {
  border-right: 1px solid deepskyblue;
  border-left: 1px solid deepskyblue;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
}

.border-empire {
  border-right: 1px solid lawngreen;
  border-left: 1px solid lawngreen;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
}

progress.product-full::-webkit-progress-value {
  width: 60px;
  height: 7px;
  background-color: $color-red;
  border: 1px solid $color-black;
}

progress.product-ressource::-webkit-progress-value {
  width: 60px;
  height: 6px;
  background-color: limegreen;
}

progress.product-ressource {
  width: 60px;
  height: 6px;
  background-color: limegreen;
}

progress.product-full {
  width: 60px;
  height: 7px;
  background-color: $color-red;
}