.ressource {
  color: #fff;
}

.planetChoice {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff !important;
  height: 20px;
  font-size: 1.2rem;
  background-image: url("../public/img/form-game.jpg");
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid silver;
  border-radius: 5px;
  option {
    background: black;
  }
}

.border-ressource {
  border-right: 1px solid deepskyblue;
  border-left: 1px solid deepskyblue;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
}