// Globals colors

$color-lapize: rgba(23, 162, 184, 0.5);

$color-turquoise: #00ffff;

$color-green: #00ff00;

$color-red: #ff1a1a;

$color-pink: #FF00BF;

$color-yellow: yellow;

$color-orange: #ff8000;

$color-black: black;

// Globals img

$back-green: url("../public/img/back_free.webp");

$back-red: url("../public/img/back_blocus.webp")!important;

$back-blocked: url("../public/img/blocked.webp");

$back-blocked-double: url("../public/img/blocked2.webp");

$back-form: url("../public/img/form-game.webp");

$back-basic: url("../public/img/back.webp");

$back-form-xs: url("../public/img/form.webp");

$back-wall-connected: url("../public/img/wall.webp");

$back-build: url("../public/img/back_build.webp");

$back-build-double: url("../public/img/back_build2.webp");

$back-build-reverse: url("../public/img/back_build_r.webp");

$back-build-reverse-double: url("../public/img/back_build_r2.webp");

$back-search: url("../public/img/open5.webp");

$back-search-double: url("../public/img/open1.webp");

$back-search-reverse: url("../public/img/open6.webp");

$back-search-reverse-double: url("../public/img/open2.webp");

$back-wall: url("../public/img/space.webp");

$back-button-confirm: url("../public/img/confirm.webp");

$back-tuto: url("../public/img/tuto2.webp");

$back-tuto-xs: url("../public/img/tuto.webp");

$back-camo-red: url("../public/img/missionB.webp");

$back-camo-green: url("../public/img/missionT.webp");