// Globals colors

$color-lapize: rgba(23, 162, 184, 0.5);

$color-turquoise: #00ffff;

$color-green: #00ff00;

$color-red: #ff1a1a;

$color-pink: #FF00BF;

$color-yellow: yellow;

$color-orange: #ff8000;

$color-black: black;

// Globals img

$back-green: url("../public/img/back_free.jpg");

$back-red: url("../public/img/back_blocus.jpg")!important;

$back-blocked: url("../public/img/blocked.jpg");

$back-blocked-double: url("../public/img/blocked2.jpg");

$back-form: url("../public/img/form-game.jpg");

$back-basic: url("../public/img/back.jpg");

$back-form-xs: url("../public/img/form.jpg");

$back-wall-connected: url("../public/img/wall2.jpg");

$back-wall-unconnected: url("../public/img/wall5.jpg");

$back-build: url("../public/img/back_build.jpg");

$back-build-double: url("../public/img/back_build2.jpg");

$back-build-reverse: url("../public/img/back_build_r.jpg");

$back-build-reverse-double: url("../public/img/back_build_r2.jpg");

$back-search: url("../public/img/open5.jpg");

$back-search-double: url("../public/img/open1.jpg");

$back-search-reverse: url("../public/img/open6.jpg");

$back-search-reverse-double: url("../public/img/open2.jpg");

$back-wall: url("../public/img/space.jpg");

$back-button-confirm: url("../public/img/confirm.jpg");

$back-tuto: url("../public/img/tuto2.gif");

$back-tuto-xs: url("../public/img/tuto.gif");

$back-camo-red: url("../public/img/missionB.jpg");

$back-camo-green: url("../public/img/missionT.jpg");