.front-block-ally {
  margin: 7rem 6% 2% 21rem;
  color: #fff;
  padding: 2rem;
  position:absolute;
  width: 750px;
  word-wrap: break-word;
  background-color: #212529;
  border: 1px solid white;
  border-radius: 5px;
}

.front-block-pre-ally {
  margin: 2rem 6% 2% 21rem;
  color: #fff;
  padding: 2rem;
  position:absolute;
  width: 750px;
  word-wrap: break-word;
  background-color: #212529;
  border: 1px solid white;
  border-radius: 5px;
}

.front-block-ally #myTab li.nav-item a {
  color: orange;
}

.front-block-ally .nav-tabs .nav-link.active {
  background-color: black;
  border: 1px solid orange;
}

.pre-rank{
  margin-top: 5rem;
}

.allyPage {
  padding: 2rem;
  width: 500px;
  margin: auto!important;
  margin-top: 7rem!important;
  font-family: AppleGothic;
  font-size: 1.5rem;
  margin-top: 6rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}