.front-block-ally {
  margin: 7rem 6% 2% 21rem;
  color: #fff;
  padding: 2rem;
  position:absolute;
  width: 750px;
  word-wrap: break-word;
  background-color: rgba(83,74,74,0.8);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
}