.front-block-ally {
  color: #fff;
  padding: 2rem;
  position: absolute;
  width: 760px;
  word-wrap: break-word;
  background-color: #212529;
  border: 1px solid white;
  border-radius: 5px;
}

.front-block-second {
  color: #fff;
  padding: 2rem;
  width: 760px;
  word-wrap: break-word;
  background-color: #212529;
  border: 1px solid white;
  border-radius: 5px;
}

.front-block-pre-ally {
  margin: 2rem 6% 2% 21rem;
  color: #fff;
  padding: 2rem;
  position: absolute;
  width: 750px;
  word-wrap: break-word;
  background-color: #212529;
  border: 1px solid white;
  border-radius: 5px;
}

.front-block-ally #myTab li.nav-item a {
  color: orange;
}

.front-block-ally .nav-tabs .nav-link.active {
  background-color: black;
  border: 1px solid orange;
}

.pre-rank{
  margin-top: 5rem;
}

.allyPage {
  margin: auto!important;
  margin-top: 3rem!important;
  font-family: AppleGothic;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.96);
  border-radius: 5px;
}

.modify-allyImage img {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}

.borderAlly img {
  border: 1px solid black;
}