.building-img {
  border: 1px solid black;
}

.building-title {
  background-color: #212529;
  padding: 1.5rem;
  border-radius: 5px 5px 0 0;
}

.building tr .center-cells:first-child {
  width: 310px;
}

.building {
  padding: 1.5rem 0 0 0;
  background-color: rgba(52, 58, 64, 0.9);
  border: 1px solid white;
  border-radius: 5px;
}