.galaxy-block {
  border: 1px solid #fff;
}

.galaxy-position {
  position:absolute;
  margin-left: -9.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  color:#FFFFFF;
}

.pp-ally {
  color: green;
}

.pp-enemy {
  color: red;
}

.map-block {
  margin: 5% 6% 2% 17%;
  color: #fff;
  .center-cells a {
    line-height: 1rem;
    font-size: 1rem;
    letter-spacing: 4px;
    color: gainsboro;
    text-decoration: none;
  }

  td {
    width:100px;
  }

  a:hover {
    color: gainsboro;
    text-decoration: none;
  }

  a:focus {
    color: gainsboro;
    text-decoration: none;
  }
}

.sector-table {
  height: 400px!important;
  width: 600px!important;
}

.galaxy-table {
  height: 850px!important;
  width: 850px!important;
}

.glyphicon-plane.planet {
  float: right;
  top: 2.5rem;
  right: -1rem;
}

.glyphicon-plane.empty {
  float: right;
  top: 2.5rem;
}

.glyphicon-info-sign {
  float: right;
}