.galaxy-block {
  border: 1px solid #fff;
}

.galaxy-position {
  position:absolute;
  margin-left: -9.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  color:#FFFFFF;
}

.galaxy-info {
  margin-top: 2rem;
  color: #fff;
  width: 650px;
  background-color: rgba(52,58,64,0.5);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  padding: 1.5rem;
}

.sector-info {
  margin-top: 2rem;
  color: #fff;
  width: 650px;
  background-color: rgba(52,58,64,0.5);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  padding: 1.5rem;
}

.pp-mine {
  font-weight: 900;
  color: deepskyblue;
}

.pp-ally {
  font-weight: 900;
  color: darkgreen;
}

.pp-ia {
  font-weight: 900;
  color: rebeccapurple;
}

.pp-cdr {
  font-weight: 900;
  color: yellow;
}

.pp-enemy {
  font-weight: 900;
  color: red;
}

.map-block {
  margin: 7rem 6% 2% 21rem;
  color: #fff;
  .center-cells a {
    line-height: 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
    color: gainsboro;
    text-decoration: none;
  }

  a:hover {
    color: gainsboro;
    text-decoration: none;
  }

  a:focus {
    color: gainsboro;
    text-decoration: none;
  }
}

.galaxy-table td.center-cells {
  line-height: 0.1;
}

.sector td.center-cells {
  height: 120px;
  border: none;
}

td.special-cell {
  border: none!important;
  vertical-align: middle!important;
}

.sector-table {
  height: 400px!important;
  width: 650px!important;
  background-color: black!important;
  border: 1px solid white;
  border-collapse: initial;
}

.galaxy-table {
  height: 650px!important;
  width: 650px!important;
  background-color: black!important;
}

.glyphicon-plane.planet {
  float: right;
  top: 2.5rem;
  right: -1rem;
}

.glyphicon-plane.empty {
  float: right;
  top: 2.5rem;
}

.glyphicon-info-sign {
  float: right;
}

.planet-position {
  float: left;
  font-size: 0.7rem;
  margin-top: -1rem;
}

.planet-position-empty {
  float: left;
  font-size: 0.7rem;
}