.display-message {
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 6rem;
  min-height: 150px;
  background-color: rgba(52, 58, 64, 0.9);
  border-radius: 5px;
}

.display-message #myTab li.nav-item a {
  color: orange;
}

.display-message .nav-tabs .nav-link.active {
  background-color: black;
  border: 1px solid orange;
}

.front-block.report th.tab-cells-name{
  line-height: 3rem;
  font-size: 1.2rem;
}

#salon_content {
  height: 20px;
}

.chat-defil {
  overflow: auto;
  scroll-bottom: 0;
  height: 600px;
  width: 100%;
}

.btn-read-all {
  color: #fff;
  border: 1px solid orange;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-new {
  color: #fff;
  border: 1px solid lawngreen;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-delete {
  color: #fff;
  border: 1px solid red;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.cell-middle {
  vertical-align: middle!important;
}