.research tr.finish {
  background-color: #004d1a!important;
}

.research {
  padding: 1.5rem 0 0 0;
  background-color: rgba(52, 58, 64, 0.9);
  border: 1px solid white;
  border-radius: 5px;
}

.research .tab-cells-name {
  width: 350px;
  height: 79px;
}

.blocked-search {
  background-image: url("../public/img/blocked.png");
  background-color: black;
}

tr.blocked-search th {
  border: none!important;
}

tr.blocked-search td {
  border: none!important;
}

.access-search {
  background-image: url("../public/img/access.png");
  background-color: black;
}

tr.access-search th {
  border: none!important;
}

tr.access-search td {
  border: none!important;
}