.front-block.spatial {
  width: 500px;
}

.spatial tr .tab-cells-name {
  width: 400px;
  vertical-align: middle;
}

.createFleet {
  background-color: #32383e;
  td.center-cells {
    width: 75px;
  }
}

.front-block.display-fleet {
  width: 400px;
}