.front-block.spatial {
  width: 500px;
  margin: auto;
  padding: 1.5rem 1rem 5rem 1rem;
  margin-bottom: 3rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.front-block.build {
  width: 550px;
  margin: auto;
  padding: 1.5rem 1rem 5rem 1rem;
  margin-bottom: 3rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.display-allFleet {
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.spatial tr .tab-cells-name {
  width: 400px;
  vertical-align: middle;
}

.createFleet {
  td.center-cells {
    width: 75px;
  }
  th.tab-cells-name {
    vertical-align: middle;
  }
}

.createFleet {
  td.center-cells input {
    height: 20px;
  }
  th.tab-cells-name {
    vertical-align: middle;
  }
}