.front-block.spatial {
  width: 500px;
  margin-right: auto;
  padding: 1.5rem 1rem 5rem 1rem;
  margin-bottom: 3rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.front-block.soldier {
  width: 500px;
  margin: auto;
  padding: 1.5rem 1rem 5rem 1rem;
  margin-bottom: 3rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.maxInput {
  cursor: pointer;
}

.maxInputLess {
  cursor: pointer;
}

.front-block.build {
  width: 550px;
  margin: auto;
  padding: 1.5rem 1rem 5rem 1rem;
  margin-bottom: 3rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.display-allFleet {
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 6rem;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
}

.spatial tr .tab-cells-name {
  width: 400px;
  vertical-align: middle;
}

.spatial tr .tab-cells-name span.btn{
  background-color: white;
  color: #FC7F23;
  font-weight: 800;
  border-radius: 0px;
}

.createFleet {
  td.center-cells {
    width: 70px;
  }
  th.tab-cells-name {
    vertical-align: middle;
  }
  .btn-secondary {
    padding: 0.1rem 0.7rem;
  }
  img {
    width: 15px;
  }
}

.createFleet {
  td.center-cells input {
    height: 20px;
  }
  th.tab-cells-name {
    vertical-align: middle;
  }
}