.galaxy-select {
  margin-top: 10%;
  color: #fff;
  text-shadow: 1.5px 1.5px 2px rgba(0,0,0, 0.9);
  font-size: 1.5rem;
  vertical-align: middle!important;
  min-height: 400px;
  word-wrap: break-word;
  padding: 1.5rem;
}

.login-input {
  color: #fff;
  font-size: 2rem;
  width: 281px;
  height: 38px;
  background-image: url("../public/img/form.jpg");
  margin-bottom: 1rem;
  line-height: 4rem;
  padding-left: 1rem;
  text-shadow: 1.5px 1.5px 2px rgba(0,0,0, 0.8);
  border: 1px solid silver;
  border-radius: 5px;
}

.login-button {
  color: #000000;
  font-size: 2rem;
  width: 115px;
  height: 38px;
  background-image: url("../public/img/form.jpg");
  margin-left: 0.6rem;
  text-shadow: 1.5px 1.5px 2px rgba(255,255,255, 0.3);
  border: 1px solid silver;
  border-radius: 5px;
}

@-webkit-keyframes autofill {
  to {
    background-image: url("../public/img/form.jpg");
    color: #fff;
    text-shadow: 1.5px 1.5px 2px rgba(0,0,0, 0.8);
  }
}

#connect-register {
  margin-top: 20%;
  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
  ::-webkit-input-placeholder {
    color: #999999;
    text-shadow: 1.5px 1.5px 2px rgba(0,0,0, 0.8);
  }
}

.server-on {
  color: #00cc00;
  text-shadow: 1.5px 1.5px 2px rgba(0,0,0, 0.8);
}

.server-off {
  color: red;
  text-shadow: 1.5px 1.5px 2px rgba(0,0,0, 0.8);
}

.carousel-inner {
  border: 2px solid white;
  border-radius: 25px;
}

.navbar-rules {
  h1 {
    color: #fff;
  }
  h2 {
    color: #fff;
  }
  h3 {
    color: #dd8e27;
  }
  background-color: #2b2b2b;
  .active {
    background-color: #000!important;
  }
}

.sticky-top {
  z-index: 0!important;
}

.unlogin-block {
  margin-top: 12%;
  color: #fff;
  font-size: 1.5rem;
  vertical-align: middle!important;
  min-height: 400px;
  word-wrap: break-word;
  background-image: url("../public/img/back.jpg");
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  padding: 1.5rem;
}

.carousel-indicators .active {
  width: 30px;
  height: 5px;
}

.front-block-spatial-unco {
  margin: 8% auto;
  color: #fff;
  max-width: 700px;
  word-wrap: break-word;
}