{% extends 'base.html.twig' %}

{% trans_default_domain 'front_create' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    <div class="row my-5">
        <div class="offset-3 col-6">
            <div class="wrapper-page">
                <div class="unlogin-block text-center">
                    {{ nbrPlanet }} ont été crée !
                </div>
            </div>
        </div>
    </div>
{% endblock %}
