<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
    </head>
    <body>

        {% block sidebar %}
            <div id="sidebar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/interface">Interface</a></li>
                </ul>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
