{% trans_default_domain 'front_menu' %}

<nav class="navbar-right navbar-dark bg-left text-center p-3">
    <div class="logo">
        <img height="64" width="64" src="{{ asset('img/defaut.png') }}">
        <br>
    </div>
    coordonnée : 1:22:78
</nav>